{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Translator plugin for Craft CMS
 *
 * Translator Field Settings
 *
 * @author    Jan D'Hollander
 * @copyright Copyright (c) 2019 Jan D'Hollander
 * @link      https://www.thebasement.be/
 * @package   Translator
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}


{% do view.registerAssetBundle("jandh\\translator\\assetbundles\\translatorfield\\TranslatorAsset") %}


{% set field = {
    id: field.id,
    name: 'translator',
    values: field.translator,
    options: options,
    label: "Translate field"|t('translator'),
    instructions: 'here are some instructions on how to do it',
} %}

{% if options|length %}
    <div class="js-translator">
        {% include 'translator/_includes/checkbox_group' with {field:field} %}
    </div>
{% else %}
    <p>{{'No translations found in the templates'|t}}</p>
{% endif %}

